# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://euixgopqwuoifbgtppre.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1aXhnb3Bxd3VvaWZiZ3RwcHJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU3MjQwMDksImV4cCI6MjA4MTMwMDAwOX0.ypEVOUXs2MABDSqGfGK4RVJGMxzOJ_gfshCuY2FnH6I

# Google APIs
GOOGLE_PLACES_API_KEY=AIzaSyCKACIhxnQSNGLu-dSJrzZFa_lb6HHBBec
GOOGLE_STREET_VIEW_API_KEY=AIzaSyCKACIhxnQSNGLu-dSJrzZFa_lb6HHBBec
GOOGLE_GEMINI_API_KEY=AIzaSyDU6kyuXPLYIxo0aTN_6AUyVWoQ5U7H2FQ
GOOGLE_VEO_API_KEY=AIzaSyDU6kyuXPLYIxo0aTN_6AUyVWoQ5U7H2FQ
GOOGLE_VEO_API_URL=https://generativelanguage.googleapis.com/v1beta

# NanoBanana Pro API
NANOBANANA_API_KEY=AIzaSyDU6kyuXPLYIxo0aTN_6AUyVWoQ5U7H2FQ
NANOBANANA_API_URL=https://generativelanguage.googleapis.com/v1beta

# Mapbox
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiamFtZXNyaW5kb3MiLCJhIjoiY21qNXdqcWx4MDZxcjNmcTB4cXJ5NDZpYyJ9.L6c-zZFZ-oZV86UXa3eDfQ
